<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="Responsive-Login-Form-master/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="Responsive-Login-Form-master/js/main.js"></script>
</body>
</html>
